/* Palette */ 
:root {
    --background: #035e7b;
    --background-tint: #047297;
    --background-tint2: #0586B2;
    --text-highlight: #66FFF3;
    --text-contrast: #FF8C66;
    --text-main: #8CD9D2;
    --text-sub: #9DC8C5;

    --text-xl: 80px;
    --text-l: 48px;
    --text-m: 24px;
    --text-s: 16px;
}

.colourBg { color: var(--background) }
.colourTint { color: var(--background-tint2) }
.colourContrast { color: var(--text-contrast) }
.colourHighlight { color: var(--text-highlight) }
.colourMain { color: var(--text-main) }
.colourSub { color: var(--text-sub) }
.bgBg { background-color: var(--background) }
.bgTint { background-color: var(--background-tint2) }
.bgContrast { background-color: var(--text-contrast) }
.bgHl { background-color: var(--text-highlight) }
.bgMain { background-color: var(--text-main) }
.bgSub { background-color: var(--text-sub) }

body { background-color: var(--background) }

/* Text Elements */
.textXl { font-size: var(--text-xl)}
.textL { font-size: var(--text-l)}
.textM { font-size: var(--text-m)}
.textS { font-size: var(--text-s)}
.italics { font-style: italic;}
.bold { font-weight: bold;}

/* Elements */
.ctaButton { border: solid 1px var(--text-highlight); color: var(--text-highlight); font-weight: bold  }
.ctaButton:hover { background-color: var(--text-highlight); border: solid 1px var(--text-contrast); color: var(--text-sub);}
.photoContainer { margin-top: 10vh }
.photo { width: 100%; border: solid 1px var(--text-contrast); padding: 1em;}
.colourBox { height: 38px; width: 38px; border: solid 1px white;}

/* Layout */
.plainText { text-decoration: none; }
.floatleft { float: left;}
.right { text-align: right;}
.padded { margin: 1em; }
.inline { display: inline }
.bold { font-weight: bold; }
.fullheight { height: 100vh }
.topspaced {margin-top: var(--text-s); }
.off {display:none}
.on {display:block}

/* Top Navigation */
.navItem { display: inline; margin-right:1em; }
.navItem:hover { color: var(--text-highlight) }

/* Left Nav */
.sidenav { position: fixed; z-index: 1;  top: 0; left: 0; overflow-x: hidden; }
.sideNavLink { text-decoration: none; color: var(--text-sub);} 
.sideNavLink:hover { color: var(--text-highlight);} 
.logoContainer { height: 10vh;}
.logo { text-align: right; padding-right:5%}
.navigation { height: 90vh; margin-top: 40vh;}
.navButton { width: 90%; padding:5%; vertical-align: middle; text-align: center; font-size: 2em;}

/* Landing Page */
.containerContents { min-height:50vh; margin-top:15vh;}

/* Page Headers */
h2 span { padding-right: 10px; }
h2::after {
    content: '';
    display: block;
    margin-left: 1rem;
    height: 1px;
    background-color: var(--text-highlight);
  }

/* Experience */
.companyName { cursor: pointer; }
.companyOn { border-left: solid 2px var(--text-contrast); padding: 1em; background-color: var(--background-tint);}
.companyOff { padding: 1em; background-color: var(--background-tint2);}
.companyDetails { padding: 1em; background-color: var(--background-tint);color: var(--text-sub);min-height: 80vh; }
.companyName { color: var(--text-contrast); font-weight: bold;}
.companyDates { color: var(--text-sub); }

/* Portfolio */
.portfolioContainer { border: solid 1px var(--text-contrast); min-height:33vh; margin:1em }

/*Contact*/
.contactButton {text-align: center; margin-top: 2em;}