/* Palette */ 
:root {
    --background: #0b4967;
    --text-hightlight: #66FFF3;
    --text-contrast: #FF6673;
    --text-main: #AC91B1;
    --text-sub: #95739C;
}

/* Display Elements */
body { background-color: var(--background) }
.introText { color: var(--text-hightlight); font-size: 16px;}
.heroText { color: var(--text-contrast); font-size: 80px; font-weight: bold;}
.heroSubText { color: var(--text-main); font-size: 80px; font-family: bold;}
.standardText { color: var(--text-sub); font-size: 16px;}
.ctaButton { color: var(--text-main); background-color: var(--text-contrast); }
/* Layout */
.right { text-align: right;}
.padded { margin: 1em; }
.fullheight { height: 100vh }

/* Navigation */
.logoContainer { height: 10vh;}
.logo { text-align: right; padding-right:5%}
.navigation { height: 90vh; margin-top: 40vh;}
.navButton { width: 90%; padding:5%; vertical-align: middle; text-align: center; font-size: 2em;}
.navLink { text-decoration: none; }
.navItem { display: inline; margin-right:1em; }
.navNumber { display: inline;  }
.sidenav { position: fixed; z-index: 1;  top: 0; left: 0; overflow-x: hidden; }

/* Landing Page */
.containerContents { min-height:50vh; margin-top:15vh;}
