.fullheight { height: 100vh }
/* .nav {background-color: red;} */
.bgImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.contents {
    background-image: linear-gradient(#dbf7ccba, #d399f9cc), url('../images/mattstartin_small.jpeg');
}
.about {
    background-image: linear-gradient(#d399f9cc, #f36f8bcc), url('../images/slipway.jpeg');
}

.details { height: 25%; background-color: grey;}
.detailsContents { text-align: right; padding-top:25%; padding-right:5%}

.navigation { height: 75%; }
.navButton { width: 90%; padding:5%; vertical-align: middle;}
.navButton:hover { background-color: red;}
.navLink { text-decoration: none; vertical-align: middle; color: black}

.landingContents { margin: 25% 5%; }


.sidenav {
    background: lightgray;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */    
  }


/* icons */
.icon {    width: 20px;    height: 20px;; vertical-align: middle;  }
.icon-green { filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); }
.icon-blue { filter: invert(52%) sepia(35%) saturate(5315%) hue-rotate(161deg) brightness(95%) contrast(101%); }